<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Tu Compra Online</title>
<link rel="stylesheet" type="text/css" href="css/estilos.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="css/estilos.css">
<script src="js/script.js" type="text/javascript"></script>
</head>
<body id="principal">

	<h1>Tu Compra Online</h1>
	<header>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse"
						data-target="#navbar-main"></button>
					<a class="navbar-brand" href="/inicio">Tu Compra Online</a>
				</div>

				<div class="navbar-collapse collapse" id="navbar-main">
					<ul class="nav navbar-nav">

						<li><a href="/registro">Reg&iacute;strate</a></li>
						<li><a href="#">Carrito</a></li>
						<li><a href="/topVenta">Top de Ventas</a></li>
						<li><a href="#" onclick="showModal('acerca')">Acerca de </a></li>
						<li><a href="#" onclick="showModal('ayuda')">Ayuda</a></li>

					</ul>

					<!-- Form para Login  -->
					<form th:object="${usuario}" th:action="@{/registro/login}"
						method="post" class="navbar-form navbar-right" role="search">
						<div class="form-group">
							<input type="text" class="form-control" id="usuario"
								name="nombreUsuario" placeholder="Usuario">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="password"
								placeholder="Contraseña">
						</div>
						<button type="submit" class="btn btn-default">Entrar</button>
					</form>
				</div>
			</div>
		</div>

	</header>




	<section id="contenedor">

		<img src="images/carro.png"
			style="position: absolute; top: 30; left: 0;" />


		<asideid="left"> <br>
		<h3>¡Tu lugar de compras favorito!</h3>

		<!-- form de busquedas  -->

		<form th:action="@{/buscarProducto}"
			method="post">


			<div class="col-sm-3">

<!-- 				<select class="form-control"> -->
<!-- 					<option value="todas">Todas las Categor&iacute;as</option> -->
<!-- 					<option>todas las de mas</option> -->

<!-- 				</select> -->
				
				<select value="codigo" name="codigo">
				<option selected="selected" value="0">Todas las categor&iacute;as</option>
				<option th:each="categoria: ${categorias}"
					th:value="${categoria.idCategoria}"
					th:text="${categoria.nombre}"></option>
				</select>
			</div>


			<div class="field" id="searchform">
				<input class="form-control" type="text" id="searchterm"
					placeholder="¿Qu&eacute; est&aacute;s buscando?" name="nombre"/>
				<button type="submit" class="btn btn-default btn-sm" id="search">
					Buscar<span class="glyphicon glyphicon-search"></span>
				</button>
			</div>

			</aside>
			<section id="principal">

				<div th:if="${productos}">
					<div th:if="${productos.isEmpty()}">
						<p>No se encuentran productos disponibles en este momento.</p>
					</div>

					<div th:if="${!productos.isEmpty()}">


						<p>Catálogo actual de productos:</p>
						<table class="table table-hover">

							<tr>
								<th>ID</th>
								<th>Nombre</th>
								<th>Descripción</th>
								<th>Precio</th>
								<th>Cantidad Disponible</th>
							</tr>

							<tr th:each="entry,status : ${productos}">
								<td><span th:text="${entry.idProducto}"></span></td>
								<td><span th:text="${entry.nombreProducto}"></span></td>
								<td><span th:text="${entry.descripcion}"></span></td>
								<td><span th:text="${entry.precio}"></span></td>
								<td><span th:text="${entry.cantidadDisponible}"></span></td>
								<td><img th:src="${entry.rutaImagen}" /></td>

								<td><button type="submit" class="btn btn-default btn-sm"
										id="agregar">
										Agregar a carrito<span class="glyphicon glyphicon-heart"></span>
									</button></td>
							</tr>

						</table>
					</div>
				</div>
		</form>
	</section>

	<aside id="right"></aside>

	<!-- 		modal Acerca de -->
	<div id="modal-Acercade" class="modal">
		<div id="modal-body" class="modal-body">

			<div class="row">Direcci&oacute;n</div>
			<div class="row panel-body">
				<p>Cartago Costa Rica</p>
			</div>

			<div class="row">Tel&eacute;fono</div>
			<div class="row panel-body">+506 52368974</div>

			<div class="row">Software</div>
			<div class="row panel-body">
				<p>
					Carrito de Compras<br> Proyecto de Lenguajes para Aplicaciones
					Comerciales<br> Version: 1.0.RELEASE<br> Construido en
					Spring Boot<br> Copyright (c) 20017.<br> Desarrolllado
					por<br> Daniel Nu&ntilde;ez Solano.<br> Yoselyne Mena
					Monge.<br> Jorge Quir&oacute;s G&oacute;mez.<br>
				</p>
			</div>
			<div class="row">
				<button class="btn btn-default" type="button"
					onclick="closeModal('acerca')">Cerrar</button>
			</div>

		</div>
	</div>



	<!-- 		modal Ayuda -->
	<div id="modal-Ayuda" class="modal">
		<div id="modal-body" class="modal-body">

			<div class="row panel-body">
				<p>Carrito de Compras</p>
			</div>

			<div class="row">
				<button class="btn btn-default" type="button"
					onclick="closeModal('ayuda')">Cerrar</button>
			</div>

		</div>
	</div>


	<footer>
		Proyecto 1 Lenguajes para aplicaciones comerciales <br> Elaborado
		por los estudiantes: <br>Priscilla Mena<br>Daniel Núñez <br>Jorge
		Quir&oacute;s
	</footer>
	</section>
</html>