<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Registro de Usuarios</title>
<link rel="stylesheet" type="text/css" href="css/estilos.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<h1 align="center">Registro de Productos</h1>
	<header>
		<!-- Este template esta hecho para insertar usuarios al sistema -->
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="panel panel-login">
						<div class="panel-heading">
							<div class="row"></div>

						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-12">
									<form th:object="${RegistroForm}"
										th:action="@{/registro/salvar}" method="post">

										<!-- Cantidad -->
										<div class="form-group">
											<label for="cantidad">Cantidad</label> <input type="text"
												id="cantidad" name="cantidad" placeholder=""
												class="form-control">
											<p class="help-block">inserte una cantidad</p>
										</div>


										<!-- Nombre Producto -->

										<div class="form-group">
											<label class="control-label" for="estado">Nombre del
												Producto</label> <input type="text" id="nombre" name="nombre"
												placeholder="" class="form-control">
											<p class="help-block">debe introducir un nombre de
												usuario</p>
										</div>


										<!-- Descripcion -->

										<div class="contform-grouprols">
											<label class="control-label" for="ciudad">Descripcion</label>
											<input type="text-box" id="descripccion" name="descripccion"
												placeholder="" class="form-control">
											<p class="help-block">agregue una descripcion al producto</p>
										</div>


										<!-- Precio-->

										<div class="contform-grouprols">
											<label class="control-label" for="precio">Precio </label> <input
												type="input" id="precio" name="precio" placeholder=""
												class="form-control">
											<p class="help-block">agregue un precio</p>
										</div>


										<!-- Selecciona una imagen-->

										<div class="contform-grouprols">
											<label class="control-label" for="ciudad">Seleccione
												una imagen de su producto</label> <input type="file" name="pic"
												accept="image/*">

										</div>

										<div>
											<button class="btn btn-default" type="submit" align="center">Insertar
												Producto</button>

										</div>
									</form>
								</div>



							</div>

						</div>


					</div>
				</div>
			</div>
		</div>
	</header>


	<section></section>


	<footer>


		<h6>Proyecto 1 Lenguajes para aplicaciones Comerciales</h6>

	</footer>




</body>
</html>