<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Registro de Usuarios</title>
	<link rel="stylesheet" type="text/css" href="css/estilos.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body >
	<h1 align="center">Registro de Usuarios</h1>
<header>
	<!-- Este template esta hecho para insertar usuarios al sistema -->
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row"></div>

					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form th:object="${usuario}"
									th:action="@{/registro/salvar}" method="post">

										<!-- Nombre -->
									
										<label for="usuario">Nombre</label> <input type="text"
											id="usuario" name="usuario" th:field="*{nombre}" 
											class="form-control">
										
									

									<!-- Cedula -->

									<div class="form-group">
										<label for="cedula">Cédula</label> <input type="text"
											id="cedula" name="cedula" th:field="*{cedula}" placeholder="" class="form-control">
									
									</div>

									<!-- Telefono -->

									<div class="form-group">
										<label for="telefono">Telefono</label> <input type="text"
											id="telefono" name="telefono" th:field="*{telefono}" placeholder=""
											class="form-control">
										
									</div>

									<!-- Correo -->

									<div class="form-group">
										<label for="correo">Correo</label> <input type="text" id="correo"
											name="correo" th:field="*{correoElectronico}"placeholder="" class="form-control">
							
									</div>

									<!-- Nombre Usuario -->

									<div class="form-group">
										<label class="control-label" for="nombreUsuario">Nombre de Usuario</label> <input
											type="text" id="nombreUsuario" name="nombreUsuario"
											th:field="*{nombreUsuario}" placeholder=""
											class="form-control">
										
									</div>


									<!-- Password -->

									<div class="contform-grouprols">
										<label class="control-label" for="ciudad">Contrasena</label> <input
											type="password" id="contrasena" name="contrasena" 
											th:field="*{password}"placeholder=""
											class="form-control">
										
									</div>


									<!-- Password confirm-->

									<div class="contform-grouprols">
										<label class="control-label" for="ciudad">Confirme su Contrasena</label> <input
											type="password" id="contrasenaC" name="contrasenaC" placeholder=""
											class="form-control">
									
									</div>
									
							
							<button class="btn btn-default"type="submit" >Insertar Usuario</button>
							</form>
						</div>



					</div>

				</div>


			</div>
		</div>
	</div>
	</div>
</header>


<section>



</section>


<footer>
	
		
			<h6>Proyecto 1 Lenguajes para aplicaciones Comerciales</h6>
	
	</footer>




</body>
</html>